.DS_Store
Thumbs.db
.ftpconfig
.ftpignore
# .vscode
.decrypted~*
.private/
.venv/
.task/
.terraform
*.tfvars
.decrypted~*
# *.secret.yaml
*.agekey
*.pub
*.key
*.pem
*.env
kubeconfig
talosconfig
config.xml
# talos/
controlplane.yaml
secrets.yaml
worker.yaml
mdbook
temp/
.backup
