---
machine:
  type: worker
  install:
    disk: /dev/vda
    wipe: false
  nodeLabels:
    topology.kubernetes.io/zone: pantheon
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos-w-01
