---
machine:
  type: controlplane
  install:
    diskSelector:
      model: Samsung SSD 860
    wipe: true
  nodeLabels:
    bgppolicy: enabled
    node.kubernetes.io/exclude-from-external-load-balancers: ""
    topology.kubernetes.io/zone: metal-03
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos-cp-03
