---
machine:
  network:
    interfaces:
      - interface: br0
        vlans:
          - vlanId: 1099
            dhcp: false
            addresses:
              - 10.10.99.101/24
            routes:
              - network: 0.0.0.0/0
                gateway: 10.10.99.1
                metric: 100
          - vlanId: 1152 # IoT
            dhcp: false
