---
machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.model == "Samsung SSD 860" && disk.transport == "sata"
  wipe: true
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  bgppolicy: enabled
  node.kubernetes.io/gpu-tier: "gen9"
  node.kubernetes.io/exclude-from-external-load-balancers: ""
  storage.dcunha.io/miroir: "true"
  topology.kubernetes.io/zone: metal-02
annotations:
  network.cilium.io/ipv6-pod-cidr: fd00:42:1:1::/64
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos-cp-02
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.1099
parent: bond0
vlanID: 1099
addresses:
  - address: fd00:10:10:99::102/64
