---
machine:
  type: worker
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.dev_path == "/dev/vda"
  wipe: false
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: pantheon
annotations:
  network.cilium.io/ipv6-pod-cidr: fd00:42:1:4::/64
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos-w-02
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.1099
parent: bond0
vlanID: 1099
addresses:
  - address: fd00:10:10:99::202/64
