---
machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.model == "Samsung SSD 860" && disk.transport == "sata"
  wipe: true
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  bgppolicy: enabled
  node.kubernetes.io/exclude-from-external-load-balancers: ""
  topology.kubernetes.io/zone: metal-02
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos-cp-02
