---
machine:
  type: worker
  install:
    disk: /dev/sda
    image: factory.talos.dev/metal-installer-secureboot/da7ec5dbbcb8132842cef2cb7a72ca2ddf850324b4a7259c156d6c1a1f779349:v1.13.0
    wipe: false
    grubUseUKICmdline: true
  nodeLabels:
    node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos-gpu-01
