---
machine:
  type: controlplane
  install:
    diskSelector:
      model: Samsung SSD 860
    image: factory.talos.dev/installer/4ba058235b9a91962983fdb0a4e04979567495c7dea6dd5ec3f7d1e337f8ee7b:v1.12.6
    wipe: true
  nodeLabels:
    bgppolicy: enabled
    node.kubernetes.io/exclude-from-external-load-balancers: ""
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos-cp-03
