---
machine:
  network:
    interfaces:
      - deviceSelector:
          hardwareAddr: 6c:4b:90:20:19:39
        dhcp: false
      - interface: br0
        vlans:
          - vlanId: 1099
            vip:
              ip: 10.10.99.99
