artemis-cluster-talos-cp-01.yaml
artemis-cluster-talos-cp-02.yaml
artemis-cluster-talos-cp-03.yaml
artemis-cluster-talos-w-01.yaml
artemis-cluster-talos-w-02.yaml
artemis-cluster-talos-w-03.yaml
talosconfig
