---
version: v1alpha1
machine:
  token: op://kubernetes/talos/MACHINE_TOKEN
  ca:
    crt: op://kubernetes/talos/MACHINE_CA_CRT
    {% if ENV.IS_CONTROLLER %}
    key: op://kubernetes/talos/MACHINE_CA_KEY
    {% endif %}
  kubelet:
    # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
    image: ghcr.io/siderolabs/kubelet:v1.36.0
    extraMounts:
      - destination: /var/local/openebs
        type: bind
        source: /var/local/openebs
        options:
          - bind
          - rshared
          - rw
    extraConfig:
      serializeImagePulls: false
    defaultRuntimeSeccompProfileEnabled: true
    nodeIP:
      validSubnets:
        - 10.10.99.0/24
    disableManifestsDirectory: true
  network:
    nameservers:
      - 10.10.99.1
  files:
    - content: |-
        [plugins]
          [plugins."io.containerd.grpc.v1.cri"]
            enable_unprivileged_ports = true
            enable_unprivileged_icmp = true
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          device_ownership_from_security_context = true
      permissions: 0o0
      path: /etc/cri/conf.d/20-customization.part
      op: create
    - content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        noatime=True
        nconnect=8
        rsize=1048576
        wsize=1048576
      permissions: 0o644
      path: /etc/nfsmount.conf
      op: overwrite
  time:
    servers:
      - 10.10.99.1
      - time.cloudflare.com
  sysctls:
    fs.inotify.max_user_instances: "8192"
    fs.inotify.max_user_watches: "1048576"
    net.core.default_qdisc: fq
    net.core.rmem_max: "67108864"
    net.core.wmem_max: "67108864"
    net.ipv4.ip_local_port_range: 1024 65535
    net.ipv4.neigh.default.gc_thresh1: "4096"
    net.ipv4.neigh.default.gc_thresh2: "8192"
    net.ipv4.neigh.default.gc_thresh3: "16384"
    net.ipv4.ping_group_range: 0 2147483647
    net.ipv4.tcp_congestion_control: bbr
    net.ipv4.tcp_fastopen: "3"
    net.ipv4.tcp_mtu_probing: "1"
    net.ipv4.tcp_notsent_lowat: "131072"
    net.ipv4.tcp_rmem: 4096 87380 33554432
    net.ipv4.tcp_slow_start_after_idle: "0"
    net.ipv4.tcp_tw_reuse: "1"
    net.ipv4.tcp_window_scaling: "1"
    net.ipv4.tcp_wmem: 4096 65536 33554432
    sunrpc.tcp_max_slot_table_entries: "128"
    sunrpc.tcp_slot_table_entries: "128"
    user.max_user_namespaces: "11255"
    vm.nr_hugepages: "1024"
  features:
    rbac: true
    {% if ENV.IS_CONTROLLER %}
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
        - os:admin
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
    {% endif %}
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: true
      resolveMemberNames: true
cluster:
  id: op://kubernetes/talos/CLUSTER_ID
  secret: op://kubernetes/talos/CLUSTER_SECRET
  controlPlane:
    {% if ENV.IS_CONTROLLER %}
    endpoint: https://artemis.dcunha.io:6443
    {% else %}
    endpoint: https://10.10.99.101:6443
    {% endif %}
  clusterName: artemis-cluster
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.42.0.0/16
    serviceSubnets:
      - 10.43.0.0/16
  token: op://kubernetes/talos/CLUSTER_TOKEN
  ca:
    crt: op://kubernetes/talos/CLUSTER_CA_CRT
  {% if ENV.IS_CONTROLLER %}
    key: op://kubernetes/talos/CLUSTER_CA_KEY
  secretboxEncryptionSecret: op://kubernetes/talos/SECRETBOX_ENCRYPTION_SECRET
  aggregatorCA:
    crt: op://kubernetes/talos/AGGREGATOR_CA_CRT
    key: op://kubernetes/talos/AGGREGATOR_CA_KEY
  serviceAccount:
    key: op://kubernetes/talos/SERVICE_ACCOUNT_KEY
  apiServer:
    image: registry.k8s.io/kube-apiserver:v1.36.0
    extraArgs:
      enable-aggregator-routing: "true"
    certSANs:
      - 127.0.0.1
      - 10.10.99.99
    admissionControl:
      - name: PodSecurity
        configuration:
          apiVersion: pod-security.admission.config.k8s.io/v1alpha1
          defaults:
            audit: restricted
            audit-version: latest
            enforce: baseline
            enforce-version: latest
            warn: restricted
            warn-version: latest
          exemptions:
            namespaces:
              - kube-system
            runtimeClasses: []
            usernames: []
          kind: PodSecurityConfiguration
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:v1.36.0
    extraArgs:
      bind-address: 0.0.0.0
  scheduler:
    image: registry.k8s.io/kube-scheduler:v1.36.0
    extraArgs:
      bind-address: 0.0.0.0
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - pluginConfig:
            - args:
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
                defaultingType: List
              name: PodTopologySpread
          plugins:
            score:
              disabled:
                - name: ImageLocality
          schedulerName: default-scheduler
  etcd:
    ca:
      crt: op://kubernetes/talos/ETCD_CA_CRT
      key: op://kubernetes/talos/ETCD_CA_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
    advertisedSubnets:
      - 10.10.99.0/24
  coreDNS:
    disabled: true
  allowSchedulingOnControlPlanes: true
  {% else %}
  apiServer:
    certSANs:
      - 127.0.0.1
      - 10.10.99.99
      - artemis.dcunha.io
  {% endif %}
  proxy:
    disabled: true
  discovery:
    registries:
      kubernetes:
        disabled: true
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  {% if ENV.IS_CONTROLLER %}
  match: mac(link.permanent_addr).startsWith("6c:4b:90")
  {% else %}
  match: mac(link.permanent_addr).startsWith("bc:24:11")
  {% endif %}
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - net0
bondMode: active-backup
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.1099
parent: bond0
vlanID: 1099
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0.1099
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.1152
parent: bond0
vlanID: 1152
